@import url('https://fonts.googleapis.com/css?family=Averia+Sans+Libre|Megrim');

body {
	background-image: url('./../img/nightlife-bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
}

#app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#header {
	margin: 25px;
	padding: 10px;
	font-size: 2em;
}
#header > input {
	font-size: 1em;
	border: 1px solid rgba(0,0,0,0.7);
	border-radius: 10px;
	padding: 3px;
	margin-right: 10px;
	outline: none;
}
#header > a {
	font-family: 'Megrim', cursive;
	font-weight: 900;
	text-decoration: none;
	padding: 2px 10px;
	color: rgba(255,255,255,0.9);
	background-color: rgba(50,50,50,0.9);
	border-radius: 10px;
	transition: all 0.5s ease-in-out;
}
#header > a:hover {
	background-color: rgba(100,100,100,0.7);
	border-radius: 2px;
}
#bars {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-wrap: wrap;
	font-family: 'Averia Sans Libre', cursive;
}
.bars-div {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: 346px;
	margin: 10px;
	box-shadow: -5px 5px 15px 0px rgba(0, 0, 0, 1);
	border-radius: 2px;
}
.bars-div > img {
	align-self: center;
	max-height: 300px;
	max-width: 300px;
}
.bars-div > div{
	background-color: rgba(0,0,0,0.5);
	color: rgba(222,222,222,1);
	border-radius: 2px;
	padding: 10px;
}
.bars-div > div > p {
	margin: 2px auto;
}
.reservation-btn {
	outline: none;
	border: none;
	color: rgba(222,222,222,0.9);
	background-color: rgba(0,0,0,0.9);
	padding: 5px;
	transition: all 0.5s ease-in-out;
	text-align: center;
	text-decoration: none;
}
.reservation-btn:hover {
	color: rgba(255,255,255,1);
	background-color: rgba(55,55,55,1);
}
.bar-filler {
	font-family: 'Megrim', cursive;
	font-size: 7em;
	color: rgba(125,125,125,1);
}
#footer {
	margin-top: 10px;
	font-family: 'Megrim', cursive;
	font-size: 1.5em;
	display: flex;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	color: rgba(155,155,155,0.9);
	text-align: center;
}
#footer > p {
	margin: auto;
	padding: 2px;
}
#footer > p > a {
	font-weight: 700;
	color: rgba(255,153,102,0.9);
	text-decoration: none;
}
#footer > p > a:visited {
	color: rgba(255,153,102,0.9);
}